*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3998e0;
    color: white;
}
.heading{
    margin:1%;
    height:10vh;
    background-color: #1855b4;
    border:solid 2px #1a458a;
    font-size: 7vh;
    text-align: center;
}
.container{
    display:flex;
}
.box1{
    margin:3% 1% 2% 3%;
width:30%;
max-height:73vh;
background-color: #1855b4;
border:solid 2px #1a458a;
overflow:auto
}
.box2{
    margin:3% 1% 2% 3%;
    width:60%;
    max-height:73vh;
    background-color:#1855b4;
    border:solid 2px #1a458a;
    overflow:auto
}
.list{
    margin:10px;
    height:7vh;
    background-color: white;
    border:solid 3px #345489;
}
.checkbox1{
    position: relative;
    top:2.5vh;
    left:26vw;
    transform: scale(4);
}
.checkbox2{
    position: relative;
    top:2.5vh;
    left:56vw;
    transform: scale(4);
}