*{
    margin: 0;
    padding: 0;
    /* outline:solid 2px black; */
}
body{
    /* width:100vw; */
    height:100vh;
    background-image: linear-gradient(to bottom right, #c650d7, #359af8);
    background-repeat: no-repeat;
    color:white;
}
.card{
    display:flex;
    position: fixed;
    width:30vw;
    height:75vh;
    margin:8vh 33vw 0vh 33vw;
    background-color: #ffffff37;
    border-radius: 5%;
}
.head-time{
    position: relative;
    color:#6f32ff;
    top:3vh;
    left:2.4vw;
    text-align: center;
    font-size: 5vh;
    width:25vw;
    height: 8vh;
    border-bottom:solid 1px #6f32ff;
}